*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

ResideMenu/build/
ResideMenu/build/generated/source/buildConfig/androidTest/debug/com/special/ResideMenu/test/BuildConfig.java

ResideMenu/build/generated/source/buildConfig/androidTest/debug/com/special/ResideMenu/test/BuildConfig.java
