<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oozmakappa.oyeloans">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DataExtraction.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FBLoginActivty"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AccountSummaryActivity"
            android:label="@string/title_activity_account_summary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditMyProfilePage"
            android:label="@string/title_activity_my_profile_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ApplyLoanFirstActivity"
            android:label="@string/apply_loan_first_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoanApplicationStepsActivity"
            android:label="@string/apply_loan_first_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MakePayment"
            android:label="@string/MakeAPayment">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oozmakappa.oyeloans.AccountSummaryActivity" />
        </activity>
        <activity android:name=".ChoosePaymentOptionActivity" >
        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oozmakappa.oyeloans.MakePayment" />
        </activity>
        <activity
            android:name="com.cooltechworks.creditcarddesign.CardEditActivity"
            android:label="@string/AddCardScreen"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.oozmakappa.oyeloans.ChoosePaymentOptionActivity"
                />
        </activity>
        <activity android:name=".ReferFriendActivity" />
        <activity android:name=".PaymentSucceededActivity" />
        <activity android:name=".PaymentFailedActivity"></activity>
        <activity android:name=".ApplyLoanSecondActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>